doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.css")
    title Уроки
  body.body
    .container
      h1.heading Выберите уроки
      nav.menu
        ul.menu__list
          each i in Array(50).fill().map((_, idx) => idx + 1)
            li.menu__item
              a.menu__link(href=`${level}/${i}`) #{i}
