doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.css")
    title Уроки
  body
    .container
      h1.heading Выберите уроки
      nav.menu
        ul.menu__list
          each i in Array(51).fill().map((_, idx) => idx)
            li.menu__item
              if i == 0
                a.menu__link(href=`${level}/repeat`) repeat
              else
                a.menu__link(href=`${level}/${i}`) #{i}

